/*listeh*/
nav{
    display: flex;
}
.listeh img{
    width: 120px;
    height: 60px;
    margin-left: 10px;
}
.listeh ul{
    padding:0px
}
.listeh ul li{
    display: inline-flex;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 20px;
    
} 
.listeh ul li a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
} 
.listeh ul li a:hover{
    text-decoration: underline;
    color: black;
} 
/*breadcrumbs*/
.breadcrumbs ul li {
    display: inline;
    font-size: 15px;
    padding-left: 0px;
}
.breadcrumbs ul {
    padding : 0px;
}
.breadcrumbs ul li a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.breadcrumbs ul li a:hover{
    text-decoration: underline;
    color: black;
}
.breadcrumbs ul li+li:before {
    padding: 4px;
    content: "/\00a0";
    color: black;
  }
/*para*/
/*main */
section{
    display: flex;
    margin-left: 10px;
}

.videos img{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.videos{
    border: 1px solid black !important;
    margin-right: 10px;
    padding-bottom: 10px;
    
}
.videos h3{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.videos span{
     color: grey;
     font-weight: bold;
     margin-left: 10px; 
     margin-bottom: 0px;
 }
.videos p{
     color: black;
     margin-left: 10px;
     margin-top: 0px;
     margin-bottom: 0px;
 }
.videos p span{
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin: 0px;
}
.vert{
    color: green !important;
    font-weight: bold;
    margin-left: 10px;
}
 /*mobil*/
 body {
    min-width: 1000px;
    margin: auto;
}